<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
    <% if user_signed_in? %>
    <% @posts.each do |post| %>
        <div class="post">
            <h2><%= post.user.first_name %> <%= post.user.last_name %></p>
            <img src="#" />
            <p><%= post.caption %></p>
            <%= link_to "Like (#{post.users_liked.length})", like_path(post), method: :patch %>
            <% if current_user.id == post.user.id %>
                <%= link_to 'Show', post %>
                <%= link_to 'Edit', edit_post_path(post) %>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </div>
    <% end %>
    <% else %>
        <p>
            Please sign in to view posts!
        </p>
    <% end %>
</table>

<br>
